:root { /** ---------- color ---------- */
    /* --- color-hex --- */
    --color--red:    #ff0000;
    --color--orange: #ff7f00;
    --color--yellow: #ffff00;
    --color--green:  #00ff00;
    --color--blue:   #0000ff;
    --color--indigo: #4b0082;
    --color--violet: #8f00ff;
    --color--black:  #000000;
    --color--white:  #ffffff;
    
    /* --- color-rgb --- */
    --color-rgb--back    : rgb(0, 0, 0);
    --color-rgb--white   : rgb(255, 255, 255);
    --color-rgb--red     : rgb(255, 0, 0);
    --color-rgb--orange  : rgb(255, 127, 0);
    --color-rgb--yellow  : rgb(255, 255, 0);
    --color-rgb--green   : rgb(0, 255, 0);
    --color-rgb--blue    : rgb(0, 0, 255);
    --color-rgb--indigo  : rgb(75, 0, 130);
    --color-rgb--violet  : rgb(143, 0, 255);
}

:root { /** ---------- h1 - h6 ---------- */
    /* --- h1 - h6 rem --- */
    --h1--font-size: 2rem;
    --h2--font-size: 1.5rem;
    --h3--font-size: 1.17rem;
    --h4--font-size: 1rem;
    --h5--font-size: 0.83rem;
    --h6--font-size: 0.67rem;

    /* --- h1 - h6 px --- */
    --h1--font-size-px: 32px;
    --h2--font-size-px: 24px;
    --h3--font-size-px: 18.72px;
    --h4--font-size-px: 16px;
    --h5--font-size-px: 13.28px;
    --h6--font-size-px: 10.72px;
}

:root { /** ---------- font-size ---------- */
    /* --- font-size--px --- */
    --font-size-px--xxl: 48px;
    --font-size-px--xl : 40px;
    --font-size-px--l  : 32px;
    --font-size-px--m  : 24px;
    --font-size-px--s  : 20px;
    --font-size-px--xs : 16px;
    --font-size-px--xxs: 12px;

    /* --- font-size--rem --- */
    --font-size-rem--xxl: 3rem;
    --font-size-rem--xl : 2.5rem;
    --font-size-rem--l  : 2rem;
    --font-size-rem--m  : 1.5rem;
    --font-size-rem--s  : 1.2rem;
    --font-size-rem--xs : 1rem;
    --font-size-rem--xxs: 0.8rem;

    /* --- font-size--em --- */
    --font-size-em--xxl: 3em;
    --font-size-em--xl : 2.5em;
    --font-size-em--l  : 2em;
    --font-size-em--m  : 1.5em;
    --font-size-em--s  : 1.2em;
    --font-size-em--xs : 1em;
    --font-size-em--xxs: 0.8em;
}

:root { /** ---------- border-radius ---------- */
    /* --- border-radius--rem --- */
    --border-radius-rem--xxl: 3rem;
    --border-radius-rem--xl : 2.5rem;
    --border-radius-rem--l  : 2rem;
    --border-radius-rem--m  : 1.5rem;
    --border-radius-rem--s  : 1.2rem;
    --border-radius-rem--xs : 1rem;
    --border-radius-rem--xxs: 0.8rem;

    /* --- border-radius--px --- */
    --border-radius-px--xxl: 48px;
    --border-radius-px--xl : 40px;
    --border-radius-px--l  : 32px;
    --border-radius-px--m  : 24px;
    --border-radius-px--s  : 20px;
    --border-radius-px--xs : 16px;
    --border-radius-px--xxs: 12px;

    /* --- border-radius-em --- */
    --border-radius-em--xxl: 3em;
    --border-radius-em--xl : 2.5em;
    --border-radius-em--l  : 2em;
    --border-radius-em--m  : 1.5em;
    --border-radius-em--s  : 1.2em;
    --border-radius-em--xs : 1em;
    --border-radius-em--xxs: 0.8em;

    /* --- border-radius--% --- */
    --border-radius-_--xxl: 50%;
    --border-radius-_--xl : 40%;
    --border-radius-_--l  : 30%;
    --border-radius-_--m  : 20%;
    --border-radius-_--s  : 15%;
    --border-radius-_--xs : 10%;
    --border-radius-_--xxs: 5%;

    /* --- border-radius--vw --- */
    --border-radius-vw--xxl: 3vw;
    --border-radius-vw--xl : 2.5vw;
    --border-radius-vw--l  : 2vw;
    --border-radius-vw--m  : 1.5vw;
    --border-radius-vw--s  : 1.2vw;
    --border-radius-vw--xs : 1vw;
    --border-radius-vw--xxs: 0.8vw;

    /* --- border-radius--vh --- */
    --border-radius-vh--xxl: 3vh;
    --border-radius-vh--xl : 2.5vh;
    --border-radius-vh--l  : 2vh;
    --border-radius-vh--m  : 1.5vh;
    --border-radius-vh--s  : 1.2vh;
    --border-radius-vh--xs : 1vh;
    --border-radius-vh--xxs: 0.8vh;
}

:root { /** ---------- spacing ---------- */
    --spacing--xxl: 3rem;
    --spacing--xl : 2.5rem;
    --spacing--l  : 2rem;
    --spacing--m  : 1.5rem;
    --spacing--s  : 1.2rem;
    --spacing--xs : 1rem;
    --spacing--xxs: 0.8rem;
}

:root { /** ---------- width--height ---------- */
    /* --- width--px --- */
    --width-1--px   : 400px;
    --width-2--px   : 360px;
    --width-3--px   : 320px;
    --width-4--px   : 280px;
    --width-5--px   : 240px;
    --width-6--px   : 200px;
    --width-7--px   : 160px;
    --width-8--px   : 120px;
    --width-9--px   : 80px;
    --width-10--px  : 40px;

    /* --- height--px --- */
    --height-1--px  : 200px;
    --height-2--px  : 180px;
    --height-3--px  : 160px;
    --height-4--px  : 140px;
    --height-5--px  : 120px;
    --height-6--px  : 100px;
    --height-7--px  : 80px;
    --height-8--px  : 60px;
    --height-9--px  : 40px;
    --height-10--px : 20px;

    /* --- width--rem --- */
    --width-1--rem  : 25rem;
    --width-2--rem  : 22rem;
    --width-3--rem  : 20rem;
    --width-4--rem  : 17rem;
    --width-5--rem  : 15rem;
    --width-6--rem  : 12rem;
    --width-7--rem  : 9rem;
    --width-8--rem  : 6rem;
    --width-9--rem  : 3rem;
    --width-10--rem : 1rem;

    /* --- height--rem --- */
    --height-1--rem : 12.5rem;
    --height-2--rem : 11rem;
    --height-3--rem : 10rem;
    --height-4--rem : 8.5rem;
    --height-5--rem : 7.5rem;
    --height-6--rem : 6rem;
    --height-7--rem : 4.5rem;
    --height-8--rem : 3rem;
    --height-9--rem : 1.5rem;
    --height-10--rem: 0.5rem;

    /* --- width--vw --- */
    --width-1--vw   : 80vw;
    --width-2--vw   : 72vw;
    --width-3--vw   : 64vw;
    --width-4--vw   : 56vw;
    --width-5--vw   : 48vw;
    --width-6--vw   : 40vw;
    --width-7--vw   : 32vw;
    --width-8--vw   : 24vw;
    --width-9--vw   : 16vw;
    --width-10--vw  : 8vw;

    /* --- height--vh --- */
    --height-1--vh  : 40vh;
    --height-2--vh  : 36vh;
    --height-3--vh  : 32vh;
    --height-4--vh  : 28vh;
    --height-5--vh  : 24vh;
    --height-6--vh  : 20vh;
    --height-7--vh  : 16vh;
    --height-8--vh  : 12vh;
    --height-9--vh  : 8vh;
    --height-10--vh : 4vh;

    /* ---width--% ---  */
    --width-1--_    : 80%;
    --width-2--_    : 70%;
    --width-3--_    : 60%;
    --width-4--_    : 50%;
    --width-5--_    : 40%;
    --width-6--_    : 30%;
    --width-7--_    : 20%;
    --width-8--_    : 10%;

    /* --- height--% --- */
    --height-1--_   : 80%;
    --height-2--_   : 70%;
    --height-3--_   : 60%;
    --height-4--_   : 50%;
    --height-5--_   : 40%;
    --height-6--_   : 30%;
    --height-7--_   : 20%;
    --height-8--_   : 10%;

    /* --- width--em --- */
    --width-1--em   : 25em;
    --width-2--em   : 22em;
    --width-3--em   : 20em;
    --width-4--em   : 17em;
    --width-5--em   : 15em;
    --width-6--em   : 12em;
    --width-7--em   : 9em;
    --width-8--em   : 6em;
    --width-9--em   : 3em;
    --width-10--em  : 1em;

    /* --- height--em --- */
    --height-1--em  : 12.5em;
    --height-2--em  : 11em;
    --height-3--em  : 10em;
    --height-4--em  : 8.5em;
    --height-5--em  : 7.5em;
    --height-6--em  : 6em;    
    --height-7--em  : 4.5em;
    --height-8--em  : 3em;
    --height-9--em  : 1.5em;
    --height-10--em : 0.5em;
}