/** ---------- Input checked ---------- */
#input_{
  display                  : var(--display-A-, flex);
  position                 : var(--position-A-, relative);
  inset                    : var(--inset-A-, 0);
  margin-top               : var(--margin-top-, none);
  margin-right             : var(--margin-right, none);
  margin-bottom            : var(--margin-bottom, none);
  margin-left              : var(--margin-left, none);
  padding                  : var(--padding-A-, 0);
  box-sizing               : var(--box-sizing-A-, border-box);
  overflow                 : var(--overflow-A-, hidden);
  width                    : var(--width-A-, auto);
  height                   : var(--height-A-, auto);
  border                   : var(--border-A-, none);
  border-radius            : var(--border-radius-A-, none);
  outline                  : var(--outline-A-, none);
  outline-offset           : var(--outline-offset-A-, none);
  background               : var(--background-A-, none);
  background-size          : var(--bg-size-A-, auto);
  background-position      : var(--bg-position-A-, center);
  background-repeat        : var(--bg-repeat-A-, no-repeat);
  background-clip          : var(--bg-clip-A-, border-box);
  color                    : var(--color-A-, none);
  font-family              : var(--font-family-A-, inherit);
  font-size                : var(--font-size-A-, none);
  font-weight              : var(--font-weight-A-, normal);
  text-align               : var(--text-align-A-, left);
  text-decoration          : var(--text-decoration-A-, none);
  line-height              : var(--line-height-A-, normal);
  transform                : var(--transform-A-, none);
  transform-origin         : var(--transform-origin-A-, center);
  filter                   : var(--filter-A-, none);
  box-shadow               : var(--box-shadow-A-, none);
  top                      : var(--top-A-, auto);
  left                     : var(--left-A-, auto);
  right                    : var(--right-A-, auto);
  bottom                   : var(--bottom-A-, auto);
  z-index                  : var(--z-index-A-, 0);
}
#input_::before {
  content                  : "";
  display                  : var(--display-B-, block);
  position                 : var(--position-B-, absolute);
  inset                    : var(--inset-B-, 0);
  margin-top               : var(--margin-top-, auto);
  margin-right             : var(--margin-right, auto);
  margin-bottom            : var(--margin-bottom, auto);
  margin-left              : var(--margin-left, auto);
  padding                  : var(--padding-B-, 0);
  box-sizing               : var(--box-sizing-B-, border-box);
  overflow                 : var(--overflow-B-, hidden);
  width                    : var(--width-B-, auto);
  height                   : var(--height-B-, auto);
  border                   : var(--border-B-, none);
  border-radius            : var(--border-radius-B-, none);
  outline                  : var(--outline-B-, none);
  outline-offset           : var(--outline-offset-B-, none);
  background               : var(--background-B-, none);
  background-size          : var(--bg-size-B-, auto);
  background-position      : var(--bg-position-B-, center);
  background-repeat        : var(--bg-repeat-B-, no-repeat);
  background-clip          : var(--bg-clip-B-, border-box);
  color                    : var(--color-B-, none);
  font-family              : var(--font-family-B-, inherit);
  font-size                : var(--font-size-B-, none);
  font-weight              : var(--font-weight-B-, normal);
  text-align               : var(--text-align-B-, left);
  text-decoration          : var(--text-decoration-B-, none);
  line-height              : var(--line-height-B-, normal);
  transform                : var(--transform-B-, none);
  transform-origin         : var(--transform-origin-B-, center);
  filter                   : var(--filter-B-, none);
  box-shadow               : var(--box-shadow-B-, none);
  top                      : var(--top-B-, auto);
  left                     : var(--left-B-, auto);
  right                    : var(--right-B-, auto);
  bottom                   : var(--bottom-B-, auto);
  z-index                  : var(--z-index-B-, 0);
}