/*? -------------------------- */
    /***** nền *****/
    /***** box *****/
    /***** box ảo *****/
    /***** box biến *****/
    /***** box chữ cái *****/
    /***** box nút *****/
    /***** box item *****/
    /***** box phim *****/
    /***** box ảnh *****/
    /***** transform *****/
    /***** animation *****/
    /***** ABC *****/
/*? -------------------------- */

/*? -------------------------- 
border-radius: 1[top-left] 2[top-right] 3[bottom-right] 4[bottom-left];
--- Ví dụ: ---
10px → góc trên trái [top-left]
15px → góc trên phải [top-right]
20px → góc dưới phải [bottom-right]
25px → góc dưới trái [bottom-left]
——————————————————————————————
10px ┌──────────┐ 15px
     │          │
25px └──────────┘ 20px         
—————————————————————————————— */
/*? -------------------------- */

/* --------------------------
| Thẻ  | Kích thước mặc định |
| ---- | ------------------- |
| `h1` | 2rem (≈ 32px)       |
| `h2` | 1.5rem (≈ 24px)     |
| `h3` | 1.17rem (≈ 18.72px) |
| `h4` | 1rem (≈ 16px)       |
| `h5` | 0.83rem (≈ 13.28px) |
| `h6` | 0.67rem (≈ 10.72px) | 
-------------------------- */



/* Mobile */
@media (max-width: 480px) {

}

/* Tablet */
@media (max-width: 768px) { 

}

/* Laptop */
@media (max-width: 1024px) { 

}

/* Desktop */
@media (max-width: 1440px) { 

}

/* TV / 4K */
@media (min-width: 1920px) { 

}
