/*? -------------------------- */
    /***** nền *****/
    /***** box *****/
    /***** box ảo *****/
    /***** box biến *****/
    /***** box chữ cái *****/
    /***** box nút *****/
    /***** box item *****/
    /***** box phim *****/
    /***** box ảnh *****/
    /***** transform *****/
    /***** animation *****/
    /***** ABC *****/
/*? -------------------------- */

/*? -------------------------- 
border-radius: 1[top-left] 2[top-right] 3[bottom-right] 4[bottom-left];
--- Ví dụ: ---
10px → góc trên trái [top-left]
15px → góc trên phải [top-right]
20px → góc dưới phải [bottom-right]
25px → góc dưới trái [bottom-left]
——————————————————————————————
10px ┌──────────┐ 15px
     │          │
25px └──────────┘ 20px         
—————————————————————————————— */
/*? -------------------------- */

/* --------------------------
| Thẻ  | Kích thước mặc định |
| ---- | ------------------- |
| `h1` | 2rem (≈ 32px)       |
| `h2` | 1.5rem (≈ 24px)     |
| `h3` | 1.17rem (≈ 18.72px) |
| `h4` | 1rem (≈ 16px)       |
| `h5` | 0.83rem (≈ 13.28px) |
| `h6` | 0.67rem (≈ 10.72px) | 
-------------------------- */

:root { /* --- reset --- */
    --font-size-           : 0rem;
    --min-font-size-       : 0px;
    --max-font-size-       : 0px;
    --width-               : 0px;
    --height-              : 0px;
    --min-width-           : 0px;
    --max-width-           : 0px;
    --min-height-          : 0px;
    --max-height-          : 0px;
    --delay-               : 0s;
    --duration-            : 1s;
    --iteration-count-     : 1;
    --timing-function-     : ease;
    --color-A-             : #000000;
    --color-B-             : none;
    --color-               : none;
    --border-radius-       : 0px;
    --margin-              : 0px;
    --padding-             : 0px;
    --calc-A-              : 0px;
    --calc-B-              : 0px;
}

div {
    /* root */
    --font-size-: 3rem;
    --width-: 15vw;
    --height-: 10px;
    --corners-B--px: calc(var(--width-) / 10);
    --color-B-: #ff0000;
    /* var */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-);
    margin: var(--margin-);
    padding: var(--padding-);
    border-radius: var(--border-radius-);
    font-size: var(--font-size-);
    width: max(var(--width-), var(--font-size-)); height: min(var(--height-), var(--font-size-));
    min-width: calc(var(--font-size-) * 3);
    min-height: calc(var(--font-size-) * 1.5);
}
.tem {
    /* root */
    /* var */
    font-size: var(--font-size-);
    color: rgb(var(--color-rgb--back, 0, 0, 0));
}

/* Mobile */
@media (max-width: 480px) {

}

/* Tablet */
@media (max-width: 768px) { 

}

/* Laptop */
@media (max-width: 1024px) { 

}

/* Desktop */
@media (max-width: 1440px) { 

}

/* TV / 4K */
@media (min-width: 1920px) { 

}
